.corpoModalCadastro {
    display: flex;
    align-items: center;
}

.corpoModalCadastro form {
    width: 30rem;
    height: 25rem;
    max-width: 100%;
    
}

.corpoModalCadastro form .acoes {
    margin-top: 48px;
    text-align: center;
}
.item{
    display: flex;
    gap: 2rem;
    margin: 2rem;
    justify-content: space-between;
    align-items: center;
}